    
<div class="row bg-light" style="height: 100vh;">

    <div class="container m-5 text-dark">

            <h2 class="ml-2">Complete your profile here</h2><br>

            <%= form_for @profile, url: profile_path do |f| %>

                <div class="form-group">
                    
                    <lable class = "col-sm-6 control-label" >
                        First Name
                    </lable>
                    <div class="col-sm-6">
                        <%= f.text_field :fname, autofocus: true, autocomplete: "email", class: "form-control" %>
                    </div>
                </div>

                <div class="form-group">
                    <lable class = "col-sm-6 control-label" >
                        Last Name
                    </lable>
                    <div class="col-sm-6">
                        <%= f.text_field :lname, autocomplete: "off", class: "form-control" %>
                    </div>
                </div>

                <div class="form-group">
                    <label class = "col-sm-4 control-label">
                        NYCDA Student? ( YES | NO )
                    </label>
                    <div class="col-sm-6">
                        <%= f.text_field :nycdastudent, autocomplete: "off", class: "form-control" %>
                    </div>
                </div>
               

                <div class="form-group">
                    <label class = "col-sm-4 control-label">
                        Currunt City
                    </label>
                    <div class="col-sm-6">
                        <%= f.text_field :location, autocomplete: "off", class: "form-control" %>
                    </div>
                </div>

                <div class="form-group">
                     <label class = "col-sm-4 control-label">
                        Upload Image
                    </label>
                    <div class="col-sm-6">
                        <%= f.file_field :image, class: "form-control" %>
                    </div>
                </div>

                
                <br>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-6">
                        <%= f.submit "UPDATE", class: "btn btn-primary" %>
                    </div>
                </div>
            <% end %>
    </div>
</div>

