    
<div class="row bg-light" style="height: 100vh;">

    <div class="container m-5 text-dark text-uppercase">

            <h2 class="ml-2">Complete your profile here</h2><br>

            <%= form_for @profile, url: profile_path do |f| %>

                <div class="form-group">
                    
                    <lable class = "col-sm-6 control-label" >
                        First Name <span class="text-danger"> * </span>
                    </lable>
                    <div class="col-sm-6">
                        <%= f.text_field :fname, autofocus: true, autocomplete: "email", class: "form-control", required: true %>
                    </div>
                </div>

                <div class="form-group">
                    <lable class = "col-sm-6 control-label" >
                        Last Name <span class="text-danger"> * </span>
                    </lable>
                    <div class="col-sm-6">
                        <%= f.text_field :lname, autocomplete: "off", class: "form-control", required: true %>
                    </div>
                </div>

                <div class="form-group">
                    <label class = "col-sm-4 control-label">
                        NYCDA Student? <span class="text-danger"> * </span>
                    </label>
                    <div class="col-sm-6">
                        <%= f.select :nycdastudent, options_for_select(["YES","NO"]), prompt: 'Select One', required: true%>
                    </div>
                </div>
               

                <div class="form-group">
                    <label class = "col-sm-4 control-label">
                        Current City <span class="text-danger"> * </span>
                    </label>
                    <div class="col-sm-6">
                        <%= f.text_field :location, autocomplete: "off", placeholder: "New York, NY", class: "form-control", required: true %>
                    </div>
                </div>

                <div class="form-group">
                     <label class = "col-sm-4 control-label">
                        Upload Image <span class="text-danger"> * </span>
                    </label>
                    <div class="col-sm-6">
                        <%= f.file_field :image, class: "form-control", required: true %>
                    </div>
                </div>

                
                <br>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-6">
                        <%= f.submit "CREATE", class: "btn btn-primary" %>
                    </div>
                </div>
            <% end %>
    </div>
</div>

