
<div class="table-responsive-sm">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">LANGUAGE</th>
      <th scope="col" class="d-none d-md-block">DISCRIPTION</th>
      <th scope="col">RATING</th>
    </tr>
  </thead>
  <tbody>
  <% @skills.each do |skill| %>    
    <tr>
      <td><%= skill.language %> </td>
      <td class="d-none d-md-block"><%= skill.disc %></td>
      <td><%= skill.rating %> / 5</td>
      <td>  <%= link_to 'Edit', edit_profile_skill_path(skill), :style=> 'color:black', :class => 'navbar-link' %> |
            <%= link_to 'Remove', skill_path(skill), method: :delete, data: { confirm: "Are you sure?" }, :style=> 'color:black', :class => 'navbar-link' %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>

<center>
    <%= link_to 'ADD MORE SKILL', new_skill_path, :style=> 'color:black', :class => 'navbar-link' %>
</center>

</div>