

<table class="table table-striped text-uppercase">
  <thead>
    <tr>
      <th scope="col">NAME</th>
      <th scope="col">LANGUAGE</th>
      <th scope="col">DISCRIPTION</th>
      <th scope="col">RATING</th>
      <!-- <th scope="col">DEBUG</th> -->
    </tr>
  </thead>
  <tbody>
  <% @result_users.each do |user| %>
    <% @matching_results = skills_for_result(user.skills, @result_skills) %> 
     
    <tr>
      <td> <%= user.profile.try(:fname) %> <%= user.profile.try(:lname) %></td>
      <td> 
        <%= @matching_results.first && @matching_results.first.language %>
      </td>
      <td> 
        <%= @matching_results.first && @matching_results.first.disc %>
      </td>
      <td> 
        <%= @matching_results.first && @matching_results.first.rating %>
      </td>
      <td>


         <%= link_to 'Create Chat Room', new_user_chat_room_path(user), :style=> 'color:black', :class => 'navbar-link' %> 
      </td>
      <td>
        <%= link_to 'profile', user_profile_index_path(user), :style=> 'color:black', :class => 'navbar-link' %>
      </td>

      <!-- <td>
        <%= @matching_results %>
      </td> -->
    </tr>


    <!--  <td>
             link_to 'profile', dashboard_path(@), :style=> 'color:black', :class => 'navbar-link' %>
      </td> -->
    <% end %>
  </tbody>
  
</table>
