    
<div class="row bg-light" style="height: 100vh;">

    <div class="container m-5 text-dark">

            <h2 class="ml-2">Add your skills here</h2><br>

            <%= form_for @skills do |f| %>

                <div class="form-group">
                    <%= f.label :language, class: "col-sm-2 control-label" %>
                    <div class="col-sm-6">
                        <%= f.text_field :language, autofocus: true, autocomplete: "email", class: "form-control" %>
                    </div>
                </div>

                <div class="form-group">
                    <%= f.label :Discription, class: "col-sm-2 control-label" %>
                    <div class="col-sm-6">
                        <%= f.text_field :disc, autocomplete: "off", class: "form-control" %>
                    </div>
                </div>               

                <div class="form-group">

                    <%= f.label :Rating, class: "col-sm control-label" %>
                    <div class="col-sm-6">
                        <%= f.select :rating, options_for_select([1,2,3,4,5]), prompt: 'Select One' %>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-6">
                        <%= f.submit "ADD", class: "btn btn-primary" %>
                    </div>
                </div>
            <% end %>
    </div>
</div>

