<!DOCTYPE html>
<html>
  <head>
    <title>Letstalk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
     <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
  </head>

  <body>
    
    <% if user_signed_in? %>

      <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        
          <a class="text-white navbar-brand m-2"  style="font-family: Trebuchet MS " href="<%= profile_path %>">LET'S CODE(< >)</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item m-2">
                <%= link_to 'PROFILE', profile_path, :style=> 'color:yellow', :class => 'navbar-link' %>
              </li>
              <li class="nav-item m-2">
                <%= link_to 'CHAT-ROOMS', chat_rooms_path, :style=> 'color:yellow', :class => 'navbar-link' %>
              </li>
              <li class="nav-item m-2"><%= link_to "LOGOUT", destroy_user_session_path,  :style=> 'color:yellow',method: :delete, :class => 'navbar-link'  %></li>
              <!-- <li class="nav-item m-2">
                <%= link_to 'Edit Profile', edit_user_registration_path, :style=> 'color:yellow', :class => 'navbar-link' %>
              </li> -->
               
            </ul>
            <span class="navbar-text">
              <ul class="navbar-nav mr-auto">
               <!-- <li class="text-white nav-item m-2">Welcome, 
                  <strong style="color: #1e87f0;">
                    <%= current_user.email %>
                  </strong>
                </li> -->
                <li class="text-white nav-item mt-2">
                    <%= form_tag(skills_path,  method: :get) do %>
                                    <div class="form-group">
                                            <%= text_field_tag :language, nil %>
                                            <%= submit_tag 'Search', name: nil %>
                                      
                                    </div>
                    <% end %>
                  </li>
                
              </ul>
            </span>
          </div>
        <% end %>
      </nav>

      <div class="row">
        <div class="col-3" style="background-color: #FFCB04; height: 100vh;">
          <h2 style="padding: 50px 0px 0px 50px;"> LET'S CODE(< >) </h2>
        
<% unless @user.profile == nil %>
      <p class="mt-2 ml-5">
            <% if @user.profile.image.attached? %>
              
                <br>
                <%= image_tag @user.profile.image, :style=> 'height: 250px; width: 250px;' %>
              
      </p>      <% end %>


            <h5 class="m-5 text-uppercase">  NAME: <%= @user.profile.fname %> <%= @user.profile.lname %> 
              <hr>
              Curruntly NYCDA student: <strong> <%= @user.profile.nycdastudent %> </strong>
             <hr>
             Currunt city location: <strong> <%= @user.profile.location %> </strong>
           
            <hr>
            <%= link_to 'Edit', edit_profile_path, :style=> 'color:black', :class => 'navbar-link' %>

            <% else %>
            <% if user_signed_in? %>
            <h5 class="m-5 text-uppercase text-dark">
                <%= link_to 'Dashboard', new_profile_path, :style=> 'color:black', :class => 'navbar-link' %>
            <% end %>
            </h5>
<% end %>





        </div>
        <div class="col-9 bg-light">
          <!-- <div class="container"> -->
            <%= yield %>
          <!-- </div> -->
        </div>
      </div>
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  </body>
</html>
